body {
    width: auto;
    background: lightgray;
}
table {
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid black;
    background-color: azure;
}
th, tr, td {
    border-collapse: collapse;
    border: 1px solid black;
}

form {
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    background-color: azure;
}