<h4>Edit Record : enter student id(sid) </h4> 

<div class="form-group">
    <label for="sid">SID:</label>
    <input type="text" class="form-control" id="sid" ng-model="sid">
</div>
<button type="button" class="btn btn-primary" ng-click="getOne()">Get Info</button>
<div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" ng-model="student.last_name" readonly>
</div>
<div class="form-group">
    <label for="major">Major</label>
    <input type="text" class="form-control" id="major" ng-model="student.major">
</div>
<div class="form-group">
    <label for="midterm">Midterm</label>
    <input type="text" class="form-control" id="midterm" ng-model="student.midterm">
</div>
<div class="form-group">
    <label for="final">Final</label>
    <input type="text" class="form-control" id="final" ng-model="student.final">
</div>
<button type="button" class="btn btn-primary" ng-click="updateRecord()">Update</button>
<br><br>